<h1>Add Tasks</h1>
<% i=1 %>
<%= form_for(@product) do |f| %>		
	<% params[:no_products].to_i.times do %>
		<div class="field">
		    <%= f.label "Product #{i}" %><br>
		    <%= text_field "name", "#{i-1}" %>
		</div>
	<% i+=1 %>	
	<% end %>
		<div class="actions">
			<%= f.submit "Add" %>
		</div>
<% end %>