<h1>Add Products to task</h1>
<% i=1 %>
<%= form_for(@product) do |f| %>
	<% params[:no_products].to_i.times do %>
		<div class="field">
		    <%= f.label "Product #{i}" %><br>
		    <%#= f.text_field :name %>
		    <%= text_field "name", i %>
		</div>
	<% i+=1 %>
	<% end %>
		<div class="actions">
			<%= f.submit "Add to task" %>
		</div>	
<% end %>